{% extends 'base.html' %}
{% load static %}


{% block content %}
<div style="margin:12rem;"></div>

<div class="container">
    <h1 class='section_title'>BUSAN</h1>

    {% for recommend  in recommends %}
        <div>{{recommend.name}}</div>
        <div>{{recommend.adress}}</div>
        <div> {{recommend.stars}}</div>
        {% comment %} {% if {{recommend.stars}} == 2 %}
            <div>★★★</div>
        {% endif %} {% endcomment %}


    
    {% endfor %}
    
    <form id="post_form" action="{% url 'buk2on_on:create' %}" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        
        {{Recommendform.as_p}}
        {{ formset.management_form }}

        {% for form in formset %}
            <br>{{ form }}
        {% endfor %}

        <div style="margin:8rem;"></div>

        <input type="submit" value="SUBMIT" class="btn btn-link">
    <hr>
</div>
  
{% endblock content %}

