{% extends 'base.html' %}
{% load static %}


{% block content %}
<div style="margin:12rem;"></div>

<div class="container">
    <h1 class='section_title'>Recommend</h1>
    
    <form id="post_form" action="{% url 'buk2on_on:create' %}" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in Recommendform %}
            <div style="margin-bottom: 1.5rem; margin-left: 1rem;">
            {{ field.label_tag }} 
            <div style="margin-top: 0.2rem;">
            {{ field }} <span>{{ field.errors }} </span></div>
            </div>
        {% endfor %}


        {{ formset.management_form }}

        {% for form in formset %}
            {% comment %} <div class="fieldWrapper">
                {{ form.subject.errors }}
                <label for="{{ form.subject.id_for_label }}">Image:</label>
                {{ form.error_messages  }}
            </div> {% endcomment %}
            <div style="color:red; margin-left: 1rem;">{{ form }} </div> 
            <div>{{form.error_messages}}</div>  
        {% endfor %}

        <div style="margin:8rem;"></div>
        {% if formset %}
        <input type="submit" value="SUBMIT" class="btn btn-link">

        {% endif %}
    <hr>
</div>
  
{% endblock content %}

