{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">


    <div style="margin:12rem;"></div>
    <h1 class="detail_title">{{recommend.name}}</h1>
    <a href="{% url 'accounts:profile' recommend.user %}" style="color: purple; text-decoration:none;" > {{recommend.user|upper}}</a>

    <hr>
    <div style= "margin-bottom:2rem"></div>
    {% if recommend.image %}

      

    <div style="width: 30%;">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border:1px solid black; background-color:greenyellow; width:300px; height: 500px;">
                <div class="carousel-item active">
                    <img src="{{recommend.mainImage.url}}" class="d-block" style="left:10px; width:350px; height: 520px " alt="...">
                  </div>
                  {% for img in recommend.image.all %}
                        <div class="carousel-item">
                        <img src="{{img.image.url}}"  class="d-block" style="left:10px; width:350px; height: 520px " alt="..." >
                        </div>
                    {% endfor %}
                

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> 
    </div>
    {% endif %}
    <br>
    <form action="{% url 'buk2on_on:comments_create' recommend.pk %}" method="POST">
        {% csrf_token %}
        {{comment_form}}
        <input type="submit">
    </form>
    <ul>
        {% for comment in comments  %}
            <li>{{comment.content}}</li>
        {% endfor %}
    </ul>
    <br>
    {% comment %} <form action= "{% url 'buk2on_on:update' recommend.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="EDIT">
    </form>  {% endcomment %}
    <hr>
    <form action= "{% url 'buk2on_on:delete' recommend.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE" class="btn btn-danger">
    </form>
    <hr>
</div>

{% endblock content %}