{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">


    <div style="margin:12rem;"></div>
    <h1 class="detail_title">{{recommend.name}}</h1>
    <a href="{% url 'accounts:profile' recommend.user %}" style="color: purple; text-decoration:none;" > {{recommend.user|upper}}</a>

    <hr>
    <div style= "margin-bottom:2rem"></div>
    {% if recommend.image %}

    {% comment %} {% for i in recommend.image.all %}
        <img src="{{i.image.url}}">
        <br>
    {% endfor %} {% endcomment %}
      

    <div style="width: 30%;">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border:1px solid black; background-color:greenyellow; width:300px; height: 500px;">
                {% for i in recommend.image.all %}
                <div class="carousel-item active">
                    <img src="{{i.image.url}}"  alt="{% static 'main_color.jpg' %}" class="d-block w-100" >
                </div>
                {% endfor %}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> 
    </div>
    {% endif %}
    <br>
    <br>
    {% comment %} <form action= "{% url 'buk2on_on:update' recommend.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="EDIT">
    </form>  {% endcomment %}
    <hr>
    <form action= "{% url 'buk2on_on:delete' recommend.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE" class="btn btn-danger">
    </form>
    <hr>
</div>

{% endblock content %}