{% extends 'base.html' %}
{% load static %}


{% block content %}

<h1 style="position: absolute; top:20rem; font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;">
    who WE are
</h1>

<p class="main_title" >what the BUK2 on&on Guide's Symbols mean</p>
<hr>
<div style="border:1px solid; padding:2rem; color:black"></div>
<P class="body_text">
    ★★★ _ 맛을 보기 위해 여행을 떠날만한 식당
</P>
<P class="body_text">
    ★★ _ 멀리서 찾아갈 만한 식당
</P>
<P class="body_text">
    ★ _ 요리가 훌륭한 식당
</P>
<P class="body_text">
    none _ 합리적인 가격을 가진 식당
</P>

{% comment %} {% for recommend in recommends %}
    <div>
        <br>
        <br>
        <p>{{recommend.pk}}</p>
        <div class="a_hover">
            <a href="{% url 'recommends:detail' recommend.pk %}" style=" color:white; font-size:2rem; text-decoration: none;"> {{ recommend.name }}</a>
        </div>
        <div>
            <a href="{% url 'recommends:detail' recommend.pk %}" style=" color:white; font-size:1.2rem; text-decoration: none;"> {{ recommend.region }}</a>
        </div>
        <hr>
    </div>
{% endfor %} {% endcomment %}

{% endblock content %}