{% extends 'base.html' %}
{% load static %}


{% block content %}
<div style="margin:12rem;"></div>

<div class="container">


    <h1 class='section_title'>SEOUL</h1>
    <div style ="display:flex; flex-direction:column-reverse; flex-wrap:no-wrap;">
        <div class="a_hover" style ="display:flex; gap: 20px 2%; flex:1 1 auto; flex-direction:row; flex-wrap:wrap; justify-content:flex-start; align-itmes:stretch; ">    
            {% for recommend  in recommends %}
            <div style="flex-grow:1; margin-bottom:28px;"> 
                {% comment %} <a href="{% url 'buk2on_on:detail' recommend.pk %}" style='text-decoration:none; color:white;'> {% endcomment %}
                {% comment %} <a href="#" style='text-decoration:none; color:white;'> {% endcomment %}
                <div id="modal_detail_feed" class="modal_overlay">
                    <div class="modal_window">
                        <div class="modal_title">
                            <div class="modal_title_side"></div>
                            <div> {{recommend.name}} </div>
                            <div class="modal_title_side">
                                <span id="close_modal" class="material-icons-outlined">
                                    <div > 
                                        <i class="fa-solid fa-x" style="color:yellowgreen;"></i>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="modal_image">
                            <img src="{{recommend.mainImage.url}}"  alt="{% static 'main_color.jpg' %}" style=" position: relative ;width: 100%; height:100%;" >
                        </div>
                    </div>
                </div>
                <img id="detail_feed"  src="{{recommend.mainImage.url}}"  alt="{% static 'main_color.jpg' %}" style= "width: 293px; height:293px;" >
                    <div></div>
                    {{recommend.name}}
                    {% if recommend.stars == 3 %}
                        <span style='margin-left:1rem ;'>★★★</span>
                    {% elif recommend.stars == 2 %}
                        <span style='margin-left:1rem;'>★★</span>
                    {% elif recommend.stars == 1 %}
                        <span style='margin-left:1rem;'>★</span>
                    {% elif recommend.stars == 0 %}
                        <span style='margin-left:1rem;'>none</span>
                    {% endif %} 
                    
                </a>
        
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>
  
{% endblock content %}

