{% extends 'base.html' %}
{% load static %}


{% block content %}
<div style="margin:12rem;"></div>

<div class="container">
    <h1 class='section_title'>SEOUL</h1>
    <div style ="display:flex; flex-direction:column-reverse; flex-wrap:no-wrap;">
        <div class="a_hover" style ="display:flex; flex:1 1 auto; flex-direction:row; flex-wrap:wrap; justify-content:flex-start; align-itmes:stretch; ">    
            {% for recommend  in recommends %}

            {% for i in recommend.image.all %}
                <div style="width:33%; margin-bottom:28px;"> 
                    <a href="{% url 'buk2on_on:detail' recommend.pk %}" style='text-decoration:none; color:white;'>
                        <img src="{{i.image.url}}"  alt="{% static 'main_color.jpg' %}" style="width: 293px; height:293px;" >
                        <div></div>
                        {{recommend.name}}
                        {% if recommend.stars == 3 %}
                            <span style='margin-left:1rem ;'>★★★</span>
                        {% elif recommend.stars == 2 %}
                            <span style='margin-left:1rem;'>★★</span>
                        {% elif recommend.stars == 1 %}
                            <span style='margin-left:1rem;'>★</span>
                        {% elif recommend.stars == 0 %}
                            <span style='margin-left:1rem;'>none</span>
                        {% endif %} 
                        
                    </a>
            
                </div>
                {% endfor %}

            {% endfor %}
        </div>
    </div>
    
</div>
  
{% endblock content %}

